- provide(:title, "Server says :( 404")
.container
  .large-12.panel.error-404
    =image_tag "/img/errors/404.jpg", class: "centered"
    %h3 The page you were looking for doesn't exist.
    %p You may have mistyped the address or the page may have moved.