$price_curr: #488d0f
$price_doll: #3c85be
$standart_black: #333
$light_blue: #97bbdc
$so_red: #b24242

#footer
  :background-color $standart_black
  li a
    color: #666

.price
  :color $price_curr

  .currency
    :color $price_doll

.items-counter
  :color $light_blue

.comment_widget
  :color $standart_black

.no-item
  :color $so_red

.required-fields
  :color $so_red